In [13]:
import torch
from transformers import pipeline, AutoModelForCausalLM, AutoTokenizer, AutoConfig
import os
from datasets import load_from_disk
os.environ['TRANSFORMERS_CACHE'] = '../transformers_cache'

In [25]:
data_test = load_from_disk("../datasets/gsm8k/val")
data_test

Dataset({
    features: ['question', 'answer'],
    num_rows: 1495
})

In [15]:
# data_train = load_from_disk("../datasets/gsm8k/train")
# data_train

In [16]:
import pandas as pd

In [69]:
path = '../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.6.json'
df = pd.read_json(path)

In [70]:
df.head()

,input,output,question,answer,model_answer,score
0,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,"Janet, a third grade teacher, is picking up th...",\n\n35 + 5 + 1 = <<35+5+1=41>>41\n41 * 7 = <<4...,287,1
1,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,"To make room for a new inventory of books, Gor...",\n\n25*0.3 = $7.50\n18*0.2 = $3.60\n21*0.2 = $...,26.30,1
2,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,A young girl pours 23 blue beads and 16 yellow...,\n\n23 + 16 = 39\n39 / 3 = 13\n39 - 13 = 26\n2...,13,1
3,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,Steve has 25 socks. He has 4 pairs of socks th...,\n\n25 - 4 = 21\n21 / 2 = 10.5\nSince you can'...,"46\n\nNow, solve the below question following...",0
4,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,Theon's ship can move 15 nautical miles per ho...,\n\nTheon's speed = 15 nautical miles per hour...,6,1

In [71]:
df.shape

(1495, 6)

In [72]:
def get_answer_dataset(row):
    return row['answer'].split('####')[-1]
def get_answer_model(row):
    return row['output'].split('####')[-1]

In [73]:
df.drop(columns=['score','model_answer'],inplace=True)
df['model_answer']=df.apply(get_answer_model,axis=1)

In [74]:
df.head()

,input,output,question,answer,model_answer
0,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,"Janet, a third grade teacher, is picking up th...",\n\n35 + 5 + 1 = <<35+5+1=41>>41\n41 * 7 = <<4...,287
1,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,"To make room for a new inventory of books, Gor...",\n\n25*0.3 = $7.50\n18*0.2 = $3.60\n21*0.2 = $...,26.30
2,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,A young girl pours 23 blue beads and 16 yellow...,\n\n23 + 16 = 39\n39 / 3 = 13\n39 - 13 = 26\n2...,13
3,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,Steve has 25 socks. He has 4 pairs of socks th...,\n\n25 - 4 = 21\n21 / 2 = 10.5\nSince you can'...,"46\n\nNow, solve the below question following..."
4,<|begin_of_text|><|start_header_id|>system<|en...,system\n\nYou are a helpful assistant.user\n\n...,Theon's ship can move 15 nautical miles per ho...,\n\nTheon's speed = 15 nautical miles per hour...,6

In [75]:
# from evaluate import load
# from tqdm import tqdm
# exact_match_metric = load("exact_match")

In [76]:
# results = exact_match_metric.compute(predictions=[df.iloc[3]['model_answer']], references=[data_feedback["answer"][3].split("####")[-1]])

In [77]:
test = pd.DataFrame(data_test)
test.head()

,question,answer
0,"Janet, a third grade teacher, is picking up th...",Janet needs 35 lunches for the kids + 5 for th...
1,"To make room for a new inventory of books, Gor...",He gets 30% off any book over $22 and he buys ...
2,A young girl pours 23 blue beads and 16 yellow...,There are 23+16=<<23+16=39>>39 beads in the bo...
3,Steve has 25 socks. He has 4 pairs of socks th...,In each pair of socks there are 2/1 = <<2/1=2>...
4,Theon's ship can move 15 nautical miles per ho...,Theon's estimated time of arrival is 90/15 = <...

In [78]:
test['GT_Answer']=test.apply(get_answer_dataset,axis=1)

In [79]:
test.head()

,question,answer,GT_Answer
0,"Janet, a third grade teacher, is picking up th...",Janet needs 35 lunches for the kids + 5 for th...,308
1,"To make room for a new inventory of books, Gor...",He gets 30% off any book over $22 and he buys ...,95
2,A young girl pours 23 blue beads and 16 yellow...,There are 23+16=<<23+16=39>>39 beads in the bo...,10
3,Steve has 25 socks. He has 4 pairs of socks th...,In each pair of socks there are 2/1 = <<2/1=2>...,17
4,Theon's ship can move 15 nautical miles per ho...,Theon's estimated time of arrival is 90/15 = <...,3

In [80]:
# for i in tqdm(range(df.shape[0])):
#     df.loc[i,'score']=exact_match_metric.compute(predictions=[df.iloc[i]['model_answer']], references=[test.iloc[i]["GT_Answer"]])['exact_match']

In [10]:
# df.head()

In [82]:
df['score'] = (df['model_answer'] == test['GT_Answer']).astype(int)

In [11]:
# df.head()

In [84]:
# score= exact_match_metric.compute(predictions=df['model_answer'].tolist(), references=test["GT_Answer"].tolist())

In [36]:
# score

In [74]:
# df['score'] = (df['model_answer'] == feedback['GT_Answer']).astype(int)

In [75]:
# from tqdm import tqdm
# for i in tqdm(range(10)):

In [12]:
# df.head(10)

In [85]:
# df.drop(columns=['model_answer'],inplace=True)
df['GT_Answer']=test['GT_Answer']

In [13]:
# df.head()

In [87]:
# df.to_json("/scratch/workspace/wenlongzhao_umass_edu-analyze//Bidirectional-Teacher-Student-Communication-for-LLM-Alignment/outputs/gsm8k/LLaMA8B/generated_outputs1.json", orient='records', lines=True)

In [88]:
records = df.to_dict(orient='records')

In [89]:
import json
formatted_json = json.dumps(records, indent=4)

In [90]:
with open(path, "w") as f:
    f.write(formatted_json)

In [91]:
df['score'].sum()

407

In [92]:
df['score'].sum()/1495

0.27224080267558526

In [93]:
df.shape[0]

1495

In [6]:
import torch
from transformers import pipeline, AutoModelForCausalLM, AutoTokenizer, AutoConfig
import os
from datasets import load_from_disk
import pandas as pd
import json
# os.environ['TRANSFORMERS_CACHE'] = '../transformers_cache'

In [20]:
def get_answer_dataset(row):
    return row['answer'].split('####')[-1]
def get_answer_model(row):
    return row['output'].split('####')[-1]
def get_score(data_path, output_path):
    '''
        data_path = Path to HF dataset which has GT
        output_path = path to json file containing model outputs
    '''
    test = pd.DataFrame(load_from_disk(data_path))    
    df = pd.read_json(output_path)
    # df.drop(columns=['score','model_answer'],inplace=True)
    df['model_answer'] = df.apply(get_answer_model,axis=1)
    test['GT_Answer'] = test.apply(get_answer_dataset, axis=1)
    df['GT_Answer']=test['GT_Answer']
    # print(f'DF Shape: {df.shape}, Test Shape: {test.shape}')
    # exact_match_metric = load("exact_match")
    
    df['score'] = (df['model_answer'] == test['GT_Answer']).astype(int)
    
    # # for i in tqdm(range(df.shape[0])):
    # for i in range(df.shape[0]):
    #     df.loc[i,'score'] = exact_match_metric.compute(predictions = [df.iloc[i]['model_answer']], references = [test.iloc[i]['GT_Answer']])['exact_match']
    
    # df.drop(columns=['model_answer'], inplace=True)
    score = df['score'].sum()/df.shape[0]
    # Write back the exact scores to output_path
    records = df.to_dict(orient = 'records')
    formatted_json = json.dumps(records, indent=4)
    
    with open(output_path,'w') as f:
        f.write(formatted_json)
    
    return score, df['score'].sum()

In [21]:
top_p = [0.95,0.9,0.85,0.8,0.75,0.7,0.65,0.6]
temp = [0.3,0.5,0.7,0.9,1.1,1.3,1.5,1.7,1.9]
# top_p = [0.6]
# temp = [0.3]
data_eval_path = "../datasets/gsm8k/val/"
model_name = "meta-llama/Llama-3.2-3B-Instruct"
exp_runs=[]
for t in temp:
    for p in top_p:
        output_file_name = f"../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_{t}_{p}.json" 
        score, s = get_score(data_eval_path,output_file_name)
        exp_runs.append({'model':model_name,'temp':t,'top_p':p,'score':score})
        print(f"\n\nModel Name: {model_name}\tTemp: {t}\tTop_P: {p}\tScore: {score}\tSum: {s}")
output_file_name = f"../outputs/gsm8k/hyperparameter3B.json" 
with open(output_file_name, "w") as f:
    json.dump(exp_runs, f, indent=4)

Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.95	Score: 0.27157190635451506	Sum: 406


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.9	Score: 0.27224080267558526	Sum: 407


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.85	Score: 0.27692307692307694	Sum: 414


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.8	Score: 0.2709030100334448	Sum: 405


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.75	Score: 0.2809364548494983	Sum: 420


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.7	Score: 0.28160535117056856	Sum: 421


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.65	Score: 0.2836120401337793	Sum: 424


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.3	Top_P: 0.6	Score: 0.27224080267558526	Sum: 407


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.95	Score: 0.262876254180602	Sum: 393


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.9	Score: 0.2454849498327759	Sum: 367


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.85	Score: 0.25418060200668896	Sum: 380


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.8	Score: 0.2688963210702341	Sum: 402


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.75	Score: 0.26755852842809363	Sum: 400


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.7	Score: 0.2729096989966555	Sum: 408


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.65	Score: 0.2909698996655518	Sum: 435


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.5	Top_P: 0.6	Score: 0.25953177257525084	Sum: 388


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.95	Score: 0.2294314381270903	Sum: 343


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.9	Score: 0.23879598662207357	Sum: 357


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.85	Score: 0.24414715719063546	Sum: 365


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.8	Score: 0.2568561872909699	Sum: 384


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.75	Score: 0.2782608695652174	Sum: 416


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.7	Score: 0.2581939799331104	Sum: 386


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.65	Score: 0.26688963210702343	Sum: 399


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.7	Top_P: 0.6	Score: 0.2662207357859532	Sum: 398


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.95	Score: 0.18528428093645485	Sum: 277


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.9	Score: 0.2020066889632107	Sum: 302


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.85	Score: 0.231438127090301	Sum: 346


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.8	Score: 0.231438127090301	Sum: 346


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.75	Score: 0.22742474916387959	Sum: 340


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.7	Score: 0.2608695652173913	Sum: 390


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.65	Score: 0.26421404682274247	Sum: 395


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 0.9	Top_P: 0.6	Score: 0.2608695652173913	Sum: 390


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.95	Score: 0.13645484949832776	Sum: 204


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.9	Score: 0.1491638795986622	Sum: 223


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.85	Score: 0.1625418060200669	Sum: 243


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.8	Score: 0.1939799331103679	Sum: 290


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.75	Score: 0.2120401337792642	Sum: 317


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.7	Score: 0.2354515050167224	Sum: 352


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.65	Score: 0.24414715719063546	Sum: 365


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.1	Top_P: 0.6	Score: 0.25953177257525084	Sum: 388


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.95	Score: 0.06220735785953177	Sum: 93


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.9	Score: 0.09230769230769231	Sum: 138


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.85	Score: 0.13177257525083613	Sum: 197


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.8	Score: 0.1331103678929766	Sum: 199


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.75	Score: 0.16521739130434782	Sum: 247


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.7	Score: 0.17525083612040135	Sum: 262


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.65	Score: 0.19732441471571907	Sum: 295


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.3	Top_P: 0.6	Score: 0.2214046822742475	Sum: 331


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.95	Score: 0.0274247491638796	Sum: 41


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.9	Score: 0.04749163879598662	Sum: 71


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.85	Score: 0.06755852842809365	Sum: 101


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.8	Score: 0.08896321070234113	Sum: 133


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.75	Score: 0.11304347826086956	Sum: 169


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.7	Score: 0.15183946488294314	Sum: 227


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.65	Score: 0.15585284280936454	Sum: 233


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.5	Top_P: 0.6	Score: 0.17993311036789297	Sum: 269


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.95	Score: 0.006688963210702341	Sum: 10


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.9	Score: 0.01471571906354515	Sum: 22


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.85	Score: 0.025418060200668897	Sum: 38


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.8	Score: 0.04882943143812709	Sum: 73


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.75	Score: 0.06822742474916388	Sum: 102


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.7	Score: 0.07491638795986622	Sum: 112


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.65	Score: 0.10100334448160535	Sum: 151


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.7	Top_P: 0.6	Score: 0.1351170568561873	Sum: 202


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.95	Score: 0.002006688963210702	Sum: 3


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.9	Score: 0.005351170568561873	Sum: 8


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.85	Score: 0.01471571906354515	Sum: 22


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.8	Score: 0.02140468227424749	Sum: 32


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.75	Score: 0.020066889632107024	Sum: 30


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.7	Score: 0.046153846153846156	Sum: 69


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.65	Score: 0.07558528428093646	Sum: 113


Model Name: meta-llama/Llama-3.2-1B-Instruct	Temp: 1.9	Top_P: 0.6	Score: 0.08896321070234113	Sum: 133

In [17]:
top_p = [0.95,0.9,0.85,0.8,0.75,0.7,0.65,0.6]
temp = [0.3,0.5,0.7,0.9,1.1,1.3,1.5,1.7,1.9]
for t in temp:
    for p in top_p:
        output_file_name = f"../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_{t}_{p}.json" 
        df = pd.read_json(output_file_name)
        print(output_file_name)
        df.drop(columns=['score','model_answer'],inplace=True)
        records = df.to_dict(orient = 'records')
        formatted_json = json.dumps(records, indent=4)

        with open(output_file_name,'w') as f:
            f.write(formatted_json)

../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.3_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.5_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.7_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_0.9_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.1_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.3_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.5_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.7_0.6.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.95.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.9.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.85.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.8.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.75.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.7.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.65.json
../outputs/gsm8k/LLaMA1B/generated_outputs_val_hyptune_1.9_0.6.json